.header {
    padding:20px 0;
    background-image: linear-gradient(to bottom,#042842 0,#083650 100%);
    &__logo {
        max-width: 150px;
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
}